<h1>Add a task</h1>

<%= form_for [@task_list, @task] do |f| %>

  <% if f.object.errors.any? %>
    Your task could not be created
  <% end %>
  <p>
    <%= f.label :description %>
  </p>
  <p>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :due_date %>
  </p>
  <p>
    <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.submit class: "form-button" %>
  </p>
<% end %>