<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1>
      <%= task_list.name %>
      <%= link_to 'New Task', new_task_list_task_path(task_list) %>
    </h1>
    <ul>
      <% @tasks.each do |task| %>
        <% if task.task_list_id == task_list.id %>
          <li>
            <%= task.description %>
            Due date: <%= task.month %> <%= task.day %>, <%= task.year %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

<% end %>